@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;700&family=Nunito&family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400&display=swap');

:root{
    --body-color: #FFFFFF;
    --text-color: #0C1829;
    --background-text-color: #7EA1C4;
    /* Theme 1 */
    --primary: #A876B8;
    --secondary: #DE9D92;
    --text: #FFFFFF;
    --text-tone: #F2F2F2;
    --contrast-primary: #ffeda6/*#ffda4d*/;
    --contrast-analogous-1: #71DEAF;
    --contrast-analogous-2: #7C81DE; 

    /* Theme 2 */
    --primary2: #7189DE; 
    --secondary2: #879BDE; 
    --contrast-primary1: #DE2A58;
    --contrast-primary1-shade: #b22246;
    --contrast-primary2: #FDCB47; 
    --contrast-secondary: #7CDE8A;
}


@keyframes flip-horizontal {
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}
@keyframes flip-vertical {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(-1);
    }
    100%{
        transform: scaleY(1);
    }
}

body{
    background-color: var(--body-color);
    font-family: Lato, sans-serif;
}

nav{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    background-color: var(--primary2);
}
.header{
    margin-left: 10px;
    color: var(--text);
    font-family: Lato;
}
.creator{
    position:relative;
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text);
    transition: all 0.5s;
}

.creator a{
    text-decoration: none;
    color: var(--text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.creator i{
    color: var(--text);
    transition: color .3s, margin-left .3s, box-shadow .3s;
    margin: 0 30px;
    padding: 0;
    border: none;
    border-radius: 2px;
}
.creator p{
    margin-left: 30px;
    text-transform: uppercase;
    transition: all .3s;
    font-family: 'Poppins';
    font-size: 12px;
}
.creator p, .creator a{
    z-index: 2;
}

.creator:hover p{
    margin-left: 12px;
    color: var(--text-color);
}
.creator:hover i{
    margin-left: 12px;
    color: var(--text-color);
}

.creator:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.creator::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    z-index: 1;
    opacity: 1;
    transition: all 0.3s;
    background-color: var(--primary2);
    transform: scale(1,1);
    overflow-x: hidden;
}
.creator:hover::after {
    opacity: 1;
    transform: scale(1.2,1);
    background-color: var(--secondary2);
}
.form-btn{
    position: absolute;
    top: 60px;
    right: calc((100vw - 200px)/2);
    width: 200px;
    height: 30px;
    background-color: var(--secondary2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    z-index: 2;
}
.plus-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    transition: all .3s;
}
.plus-icon i{
    display: block;
    color: var(--secondary2);
    transition: left .5s;
    margin: 0;
}
.add-book{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 20px;
    transition: all .5s;
    text-rendering: geometricPrecision;
}
.add-book span{
    transition: all .5;
    font-family: Lato;
}
.form-btn:hover{
    top: 70px;
    background-color: var(--body-color);
    border: 2px solid var(--secondary2);
    border-radius: 0;
}
.form-btn:hover .plus-icon{
    left: 12px;
    color: var(--contrast-primary1);
    padding-left: 5px;
}
.form-btn:hover .add-book{
    padding-left: 70px;
}

.inactive{
    visibility: hidden;
} 

main{
    margin-top: 110px;
}


.container{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh-60px);
    background-color: white;
    z-index: 3;
    opacity: .7;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: visibility .3s;
}

.input-form-container{
    display: block;
    position: fixed;
    z-index: 4;
    top: 80px;
    left: calc((100vw - 400px)/2);
    background-color: var(--body-color);
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border-radius: 3%;
    box-shadow: 5px 5px var(--secondary2), -5px -5px var(--secondary);
    transition: visibility .3s ease-out;
}
form{
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Roboto Condensed';
    font-stretch: semi-condensed;
    font-size: 15px;
}
form div{
    position: relative;
    width: 350px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
form label{
    text-align: left;
}
form input[type="text"]{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    outline: none;
    border: 2px solid #d9d9d9;
}
.form-title label, .form-author label, .form-pages label, .form-image-url label{
    position: absolute;
    top: 7px;
    left: 20px;
    background-color: var(--body-color);
    border-radius: 2px;
    box-shadow: 0 0 15px 2px #FFFFFF;
    transition: top .1s ease-out;
}
form input[type=text]:focus{
    outline: none;
    border: 2px solid var(--primary);
}
form div:focus-within label{
    top: 1px;
}
.form-status{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.form-status input[type="checkbox"]{
    width: 20px;
    height: 200px;
    margin-right: 50px;
}

.submit{
    position: relative;
    margin: 20px auto;
    text-align: center;
    width: 100px;
    height: 40px;
}
.submit:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--contrast-analogous-1);
    transition: width .35s, color .35s;
}
.submit:hover:after{
    width: 100%;
}
#submit-button{
    font-weight: bold;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    border-radius: 2px;
    outline: none;
    transition: color .5s;
    
}
#submit-button:hover{
    color: #000;
}

#library-container{
    padding: 30px 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 60px;
    align-content: center;
    justify-items: center;
}

.book{
    width: 180px;
    text-align: center;
}
.book::before{
    content: "";
    background: var(--contrast-primary2);
}
.cover{
    position: relative;
    z-index: 0;
}
.image{
    width: 180px;
    height: 200px;
    background-color: var(--secondary2);
    box-shadow: 5px 2px var(--contrast-primary2) /*10px 5px var(--contrast-primary1)*/;
}
.image .default-img{
    margin: calc((100% - 128px)/2) auto;
}
.cover-image{
    height: 200px;
}
.title{
    position: absolute;
    bottom: 0;
    width: 180px;
    height: 50px;
    display: flex;
    padding-top: 5px;
    background-color: #B7C4EE/*#9bace7*/;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    transition: width 5s;
    font-family: Nunito;
    font-size: 13px;
}
.title::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.title::-webkit-scrollbar-thumb{
    background-color: var(--secondary2);
    border-radius: 10px;
}

.details{
    background-color: var(--secondary2);
    box-shadow: 5px 2px var(--contrast-primary);
    margin-top: 5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    font-family: 'nunito';
}

i{
    font-size: 20px;
    text-align: center;
    margin: auto 0;
}
.book i:hover {
    animation: flip-horizontal;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
}
.check{
    color: green;
}

.delete-cont{
    position: relative;
    text-align: center;
    width: 55px;
    height: 25px;
    background: var(--contrast-primary1)
}
.delete-cont:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--contrast-primary1);
    transition: width .35s, color .35s;
}
.delete-cont:hover:after{
    width: 100%;
    background: var(--secondary);
}
.delete-button{
    font-weight: bold;
    position: relative;
    z-index: 1;
    width: 55px;
    height: 25px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--secondary);
    border-radius: 2px;
    outline: none;
    transition: 1s ease-in-out, color .5s;
    color: #000;
    font-family: Nunito;
    
}
.delete-button:hover{
    color: #FFF;
}

@media (max-width: 400px){
    .creator{
        width: 50vw;
    }
    .creator p{
        font-size: 10px;
    }
}